{% extends "index.html" %}

{% block content %}
	<a href="/indicadores/gestionar/{{resultado.id}}" title="Informacion">
        <font color="red"><i class="small material-icons">arrow_back</i></font>
    </a> 

	<h1 style="color:red">
		Gestion de Actividades de Evaluacion del Indicador de Logro {{indicador.id}}
	</h1>
	<table border="1">
		{% if puedogestionar %}
		<td>
		<a href="/actividadesEva/new/{{indicador.id}}" title="Añadir">
			<font color="red"><i class="small material-icons">library_add</i> </font>
		</a>
		<td>
		{% endif %}
		{% for actividad in actividadesE %}

			<tr>
				<td>
				{{ actividad.nombre }}, {{actividad.descripcion}}
				</td>

				<td>
				<a href="/actividadesEva/consultar/{{actividad.id}}" title="Informacion"> 
					<font color="red"><i class="small material-icons">info</i></font>
				</a>
				</td>
				{% if puedogestionar %}
				<td>
				<a href="/actividadesEva/editar/{{actividad.id}}" title="Editar"> 
					<font color="red"><i class="small material-icons">edit</i> </font>
				</a>
				<td>
				<a href="/actividadesEva/eliminar/{{actividad.id}}" title="Eliminar"> 
					<font color="red"><i color="red" class="small material-icons">delete</i></font>
				</a> 
				</td>
				{% endif %}
			</tr>
		{% endfor %}
		
	</table>

{% endblock %}