{% extends "index.html" %}
{% load material_form %}

{% block content %}
	<a href="/actividadesEva/gestionar/{{indicador.id}}" title="Informacion">
        <font color="red"><i class="small material-icons">arrow_back</i></font>
    </a> 
	<h1 style="color:red">Agregar actividad de Formacion al Indicador de Formacion: {{indicador.id}}</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% form form=form %}{% endform %}
		<button type="submit" name="_submit" class="btn">Guardar</button>
	</form>		

{% endblock %}