{% extends "index.html" %}

{% block content %}
	<h1 style="color:red">
		Gestion de competencias del curso {{curso.nombre}}:
	</h1>
	<table border="1">
		{% if puedogestionar %}
		<td>
		<a href="/competencias/new/{{ curso.codigo }}" title="Añadir"> 
			<font color="red"><i class="small material-icons">library_add</i> </font>
		</a>
		<td>
		{% endif %}
		{% for competencia in competencias %}

			<tr>
				<td>
				{{ competencia.nombre }}
				</td>

				<td>
				<a href="/competencia/consultar/{{ competencia.id }}" title="Informacion"> 
					<font color="red"><i class="small material-icons">info</i></font>
				</a>
				</td>
				{% if puedogestionar %}
				<!--Agregar funcionalidad para agregar profesores a un curso-->
				<td>
				<a href="/competencia/editar/{{ competencia.id }}" title="Editar"> 
					<font color="red"><i class="small material-icons">edit</i> </font>
				</a>
				<td>
				<a href="/resultados/gestionar/{{ competencia.id }}" title="Resultados de aprendizaje"> 
					<font color="red"><i color="red" class="small material-icons">storage</i></font>
				</a> 
				</td>
				<td>
				<a href="/competencia/eliminar/{{ competencia.id }}" title="Eliminar"> 
					<font color="red"><i color="red" class="small material-icons">delete</i></font>
				</a> 
				</td>
				{% endif %}
			</tr>
		{% endfor %}
		
	</table>

{% endblock %}