
{% extends "index.html" %}
{% load material_form %} 


{% block content %}
	<h1 style="color:red">
	Buscar por atributos:
	</h1>
  <form method="get">
  	{% form form=curso_filter.form %}{% endform %}
    <button type="submit" class="btn" >Buscar</button>
  </form>

	<h1 style="color:red">
		Gestion de Cursos:
	</h1>
	<table border="1">
		{% for curso in curso_filter.qs %}

			<tr>
				<td>
				{{ curso.nombre }}  - {{ curso.codigo }}
				</td>

				<td>
				<a href="/cursos/consultar/{{ curso.codigo }}" title="Informacion"> 
					<font color="red"><i class="small material-icons">info</i></font>
				</a>
				</td>

				{% if solover %}
					<td>
					<a href="/cursos/editar/{{ curso.codigo }}" title="Editar"> 
						<font color="red"><i class="small material-icons">edit</i> </font>
					</a>
					</td>

					<td>
					<a href="/prerequisitos/{{ curso.codigo }}" title="prerequisitos"> 
						<font color="red"><i class="small material-icons">library_books</i></font>
					</a>
					</td>
					{% if puedoeliminar %}
					
					<td>
					<a href="/cursos/eliminar/{{ curso.codigo }}" title="Eliminar"> 
						<font color="red"><i color="red" class="small material-icons">delete</i></font>
					</a> 
					</td>
					{% else %}
					<td>
					<a href="/competencias/{{ curso.codigo }}" title="Competencias"> 
						<font color="red"><i color="red" class="small material-icons">library_books</i></font>
					</a> 
					</td>
					{% endif %}
				{% endif %}
				
				<td>
				<a href="/descargarpdfcurso/{{ curso.codigo }}" title="Informacion"> 
					<font color="red"><i class="small material-icons">cloud_download</i></font>
				</a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}