<!DOCTYPE html>
<html >
   <head>
      {% load staticfiles %}
      {% load material_form %}
      <meta charset="UTF-8">
      <title>Los Arandanos</title>
      {% include 'material/includes/material_css.html' %}
      <script src="{% static 'material/js/jquery.js' %}"></script>
      {% include 'material/includes/material_js.html' %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
   <body>
      <div class="cuadradoGigante">
         <div class="container">
            <ul class="collapsible">
               {% if user.profile.tipo == 'admin' %}
               <li>
                  <div class="collapsible-header"><i class="material-icons">description</i>Usuarios</div>
                  <div class="collapsible-body">
                     <div class="collection">
                        <a href="/usuarios/new" class="collection-item">Agregar Usuarios</a>
                        <a href="/usuarios" class="collection-item">Gestionar Usuarios</a>
                     </div>
                  </div>
               </li>
               {% endif %}
               {% if user.profile.tipo == 'profesor' or user.profile.tipo == 'director' or user.profile.tipo == 'decano'%}
               <li>
                  <div class="collapsible-header"><i class="material-icons">description</i>Cursos</div>
                  <div class="collapsible-body">
                     <div class="collection">
                        {% if user.profile.tipo == 'director' or user.profile.tipo == 'profesor' %}
                        <a href="/cursos/new" class="collection-item">Agregar Cursos</a>
                        {%endif%}
                        <a href="/cursos" class="collection-item">Gestionar Cursos</a>

                     </div>
                  </div>
               </li>
               {% endif %}
               {% if user.profile.tipo == 'director' %}
               <li>
                      <div class="collection">
                        <a href="/programas" class="collection-item">Gestión mi programa</a>
                     </div>
               </li>
               {% endif %}
               {% if user.profile.tipo == 'decano' %}
               <li>
                  <div class="collapsible-header"><i class="material-icons">description</i>Programas</div>
                  <div class="collapsible-body">
                     <div class="collection">
                        <a href="/programas/new" class="collection-item">Agregar Programas</a>
                        <a href="/programas" class="collection-item">Gestion Programas</a>
                     </div>
                  </div>
               </li>
               {% endif %}
            </ul>
            <script type="text/javascript"> 
               // Or with jQuery
               $(document).ready(function(){
                 $('.collapsible').collapsible();
               });
               
            </script>
            </ul>
         </div>
         <div class="derecha">
            <div class="contenido_derecha">

{% if erroresCursos %}


      <ul class="collection with-header">

        <li class="collection-header">  <font color="red"><h4> <i class="material-icons small">warning</i> Errores</h4></font></li>

      {% for cursoError in erroresCursos %}

         {% if cursoError.noTieneCompetencias == False %}
           <li class="collection-item"><div>El curso {{cursoError.curso.nombre}} no tiene almenos 1 competencia.
            <a href="#!" class="secondary-content">
            <font color="red"> <i class="material-icons">send</i> </font>
            </a></div></li> 
         {% endif %}

         {% for competenciaSinResultado in cursoError.competenciasSinResultados %}
           <li class="collection-item"><div>La competencia {{competenciaSinResultado.nombre}} del curso {{cursoError.curso.nombre}} no tiene resultados de aprendizaje.
            <a href="#!" class="secondary-content">
            <font color="red"> <i class="material-icons">send</i> </font>
            </a></div></li> 
         {% endfor %}

      {% endfor %}

      </ul>
            
{% endif %}

               {% block content %} {% endblock %}

            </div>
         </div>
      </div>
      </div>
      <div class="navbar">
         <script type="text/javascript"> 
            $(document).ready(function(){
              $(".dropdown-trigger").dropdown();
            });
            
         </script>

         {% if user.is_authenticated %}
         <!-- Dropdown Structure -->
         <ul id="dropdown1" class="dropdown-content">
            <li><a href="/">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Salir</a></li>
         </ul>
         {% endif %}

         <nav>
            <div class="nav-wrapper">
               <img src="https://k62.kn3.net/2/E/F/A/A/4/105.png" height="100">
               <ul class="right hide-on-med-and-down">
                <li><i class="material-icons right">person</i></li>
                  <!-- Dropdown Trigger -->
                  <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    Mi Cuenta
                    <i class="material-icons right">arrow_drop_down</i>
                    </a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <footer class="cuadroAbajo">
         <p align="center"></p>
      </footer>
   </body>
</html>