<html lang="en-Us">
<head>
{% load staticfiles %}
	<meta charset="utf-8">
    
	<title>Proyecto Los Arandanos</title>

	<link rel="stylesheet" href="{% static 'css/estiloLogin.css' %}">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>

	<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="login">

		<h1><strong>Bienvenido.</strong> Por favor, inicie sesion</h1>

		<form action="" method="post">
			{% csrf_token %}
			<fieldset>

				<p><input name="username" type="text" required value="Usuario o email" onBlur="if(this.value=='')this.value='Usuario o email'" onFocus="if(this.value=='Usuario o email')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Username" -->

				<p><input name="password" type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Password" -->


				{% if datosIncorrectos %}
				<font color="red"><p>Datos incorrectos</p></font>
				{% endif %}

				
				<p><a href="#">¿Olvido la contraseña?</a></p>

				<p><input type="submit" value="Entrar"></p>

			</fieldset>

		</form>

	</div> <!-- end login -->

</body>
</html>