{% extends "index.html" %}

{% block content %}
	<h1 style="color:red">
		Gestion de programas:
	</h1>
	<table border="1">
		{% for pr in programas %}

			<tr>
				<td>
				{{ pr.nombre_programa }}  - {{ pr.codigo }}
				</td>

				<td>
				<a href="/programas/ver/{{ pr.codigo }}"> 
					<font color="red"><i class="small material-icons">info</i></font>
				</a>
				</td>

				<td>
				<a href="/programas/editar/{{ pr.codigo }}"> 
					<font color="red"><i class="small material-icons">edit</i> </font>
				</a>
				</td>
			{% if puedoeliminar %}
				<td>
				<a href="/programas/eliminar/{{ pr.codigo }}"> 
					<font color="red"><i color="red" class="small material-icons">delete</i></font>
				</a> 
				</td>
			{% endif %}
				<td>
				<a href="/descargarReporteCompetenciasPrograma/{{ pr.codigo }}" title="Informacion"> 
					<font color="red"><i class="small material-icons">cloud_download</i></font>
				</a>
				</td>


			</tr>
		{% endfor %}
	</table>

{% endblock %}